body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f6fa;
}

.container{
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 15px;

}

button{
    font-size: 2rem;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: blueviolet;
}

#reset{
    background-color: blue;
    color: antiquewhite;
}

#message{
    margin-top: 10px;
    font-size: 1.1rem;
    color: #555;
}